# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Build artifacts
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
.~lock.*

# tutorial data
# Tutorial data
tutorial/tutorial_data/

# Any data folders
data/
*/data/

# Large files
*.npy
*.zip
